.game-lobby-wrap {
    height: 100%;
    min-height: 100vh;
}

.hasbg {
    background-color: #1D1D26;
    height: 100%;
    min-height: 100vh;

    .demobg {
        background: url('../../img/gamelobby/banner.png') no-repeat center center/cover,
            linear-gradient(90deg, rgb(29, 29, 38), rgb(29, 29, 38));
        width: 100%;
        height: 90vh;
        box-shadow: inset 0 -68px 38px #1D1D26;
    }

    .demoheight {
        margin-top: -20rem;
        min-height: 100vh;

        .list-box {
            .icons {
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-right: 5px;

                &.hot {
                    background: url('../../img/tabs/yourgames.png') no-repeat center center/cover;
                }

                &.baccarat {
                    width: 22px;
                    height: 22px;
                    background: url('../../img/tabs/baccarat.png') no-repeat center center/contain;
                }
            }
        }
    }

    .custom-tabs {
        .tab-list {
            display: flex;
            align-items: center;

            .tab {
                border: 1px solid rgba(255, 255, 255, 0.4);
                padding: 3px 12px;
                margin-right: 10px;
                border-radius: 15px;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.4);
                display: flex;
                align-items: center;

                &.active {
                    border: 1px solid rgba(255, 255, 255, 1);
                    color: rgba(255, 255, 255, 1);
                    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
                }
            }
        }
    }

}

.formb {
    display: none;
}



@media screen and (max-width: 1082px) {
    .formb {
        display: block;

        .demoheight {
            margin-top: 0;
            padding-top: 50px;
        }

        .hasbg {
            padding-bottom: 10vh;
        }

        .custom-tabs {
            .tab-list {
                margin-left: 1rem;
            }
        }
    }

    .forpc {
        display: none;
    }
}