.betting-history-box {
    .betting-history {
        position: relative;
        width: 33px;
        height: 33px;
        cursor: pointer;
        margin-left: 15px;
        background: url('../../../img/header/bettinghistory.png') no-repeat center center/contain;
    }

    .hover-box {
        position: fixed;
        right: -45rem;
        background: rgba(29, 29, 38, 0.8);
        // padding: 20px 35px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        top: 6rem;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
        animation-name: anibettingout;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        transition: all 1s ease;
        min-width: 400px;
        z-index: 8;
        visibility: hidden;

        .month-container {
            display: flex;
            position: absolute;
            right: 0px;
            top: 10px;
            justify-content: flex-end;

            button {
                background: #8d8d9f4a;
                display: flex;
                border: none;
                font-size: 1rem;
                color: #ffffffc2;
                border-radius: 30px;
                padding: 6px 8px;
                margin-right: 10px;
                cursor: pointer;

                span {
                    margin: 0 2px;
                    font-weight: 800;
                    line-height: normal;
                    font-size: 13px;
                }

                &:hover {
                    background-color: transparent;
                    display: flex;
                    border: 1px solid #f5f5f542;
                    font-size: 1rem;
                    color: #fff;
                    border-radius: 30px;
                    padding: 6px 8px;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: all 0.3s;
                }
            }
        }

        .flex-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px;


            input {
                margin-left: 5px;
                max-width: 100px;
                font-size: 13.5px;
                color: #fff;
                border: 1px #4b4b4b solid;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: rgba(180, 180, 180, 0.199);

            }

            input::-webkit-calendar-picker-indicator {
                filter: invert(1);

            }
        }

        &.visible {
            right: 0rem;
            animation-name: anibettingin;
            animation-duration: 1s;
            animation-timing-function: ease;
            visibility: visible;
            cursor: auto;

        }

        @keyframes anisettingout {
            0% {
                right: 0rem;
            }

            100% {
                right: -30rem;
            }
        }


        @keyframes anisettingin {
            0% {
                right: -30rem;
            }

            100% {
                right: 0rem;
            }
        }

        .title {
            width: 90%;
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding: 15px 0 12px 0;
            margin: 0 auto;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            position: relative;


            .type-container {
                display: flex;
                justify-content: center;
                flex-direction: row;


                .type-tabs {
                    margin: 0px 10px;
                    color: rgba(255, 255, 255, 0.7607843137);
                    transition: all 0.3s;


                    &.active {
                        color: rgb(255, 255, 255);
                    }

                }
            }
        }

        .dis {
            font-size: 0.9rem;
            margin-top: 10px;
            margin: 0 auto;
            max-height: 200px;
            overflow-y: auto;
            display: none;


            &.visible {
                right: 0rem;
                animation-name: anibettingin;
                animation-duration: 1s;
                animation-timing-function: ease;
                display: block;
                cursor: auto;

                table {
                    border-spacing: 1px;
                    width: 100%;

                    thead {
                        background: rgba(217, 217, 217, 0.05);

                        tr {

                            th {
                                font-size: 14px;
                                padding: 8px 0px;
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {
                                padding: 8px 3px;
                                text-align: center;
                                font-size: 12px;

                                &.detail {
                                    font-size: 14px;
                                    cursor: pointer;

                                    button {
                                        background: #46465B;
                                        border: none;
                                        font-size: 0.7rem;
                                        color: #fff;
                                        border-radius: 30px;
                                        padding: 2px 12px 5px;
                                    }
                                }
                            }

                            &:nth-child(even) {
                                background: rgba(217, 217, 217, 0.05);
                            }
                        }
                    }
                }

                .noData {
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                }

            }


        }

    }

    .hover-box-detail {
        position: fixed;
        right: -80rem;
        background: rgba(29, 29, 38, 0.8);
        // padding: 20px 35px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        top: 6rem;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
        animation-name: anibettingout;
        animation-duration: 1s;
        animation-timing-function: ease;
        transition: all 1.5s ease;
        min-width: 700px;
        z-index: 8;
        visibility: hidden;

        .type-tabs {
            margin: 0px 10px;
            color: rgb(255, 255, 255);

        }

        .month-container {
            display: flex;
            position: absolute;
            right: 0px;
            top: 10px;
            justify-content: flex-end;

            button {
                background: #8d8d9f4a;
                display: flex;
                border: none;
                font-size: 1rem;
                color: #ffffffc2;
                border-radius: 30px;
                padding: 6px 8px;
                margin-right: 10px;
                cursor: pointer;

                span {
                    margin: 0 2px;
                    font-weight: 800;
                    line-height: normal;
                    font-size: 13px;
                }

                &:hover {
                    background-color: transparent;
                    display: flex;
                    border: 1px solid #f5f5f542;
                    font-size: 1rem;
                    color: #fff;
                    border-radius: 30px;
                    padding: 6px 8px;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: all 0.3s;
                }
            }
        }

        &.visible {
            right: 0rem;
            animation-name: anibettingin;
            animation-duration: 1s;
            animation-timing-function: ease;
            visibility: visible;
            cursor: auto;

        }

        @keyframes anisettingout {
            0% {
                right: 0rem;
            }

            100% {
                right: -30rem;
            }
        }


        @keyframes anisettingin {
            0% {
                right: -30rem;
            }

            100% {
                right: 0rem;
            }
        }

        .flex-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px;

            input {
                margin-left: 5px;
                max-width: 100px;
                font-size: 13.5px;
                color: #fff;
                border: 1px #4b4b4b solid;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: rgba(180, 180, 180, 0.199);

            }

            input::-webkit-calendar-picker-indicator {
                filter: invert(1);

            }
        }

        &.visible {
            right: 0rem;
            animation-name: anibettingin;
            animation-duration: 1s;
            animation-timing-function: ease;
            visibility: visible;
            cursor: auto;

        }

        @keyframes anisettingout {
            0% {
                right: 0rem;
            }

            100% {
                right: -30rem;
            }
        }


        @keyframes anisettingin {
            0% {
                right: -30rem;
            }

            100% {
                right: 0rem;
            }
        }

        .title {
            width: 90%;
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding: 15px 0 12px 0;
            margin: 0 auto;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            position: relative;


            .type-container {
                display: flex;
                justify-content: center;
                flex-direction: row;



            }
        }

        .dis {
            font-size: 0.9rem;
            margin-top: 10px;
            margin: 0 auto;
            max-height: 200px;
            overflow-y: auto;

            table {
                border-spacing: 1px;
                width: 100%;

                thead {
                    background: rgba(217, 217, 217, 0.05);

                    tr {

                        th {

                            font-size: 14px;
                            padding: 8px 10px;
                        }
                    }
                }

                .detail {

                    td {
                        vertical-align: sub;
                    }
                }

                .col-arrange-left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    span {
                        padding-left: 30px;
                    }
                }

                .col-arrange-center {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .order-id {
                        background-color: #46465B;
                        padding: 3px 28px;
                        border-radius: 30px;
                        margin: 3px auto;
                    }

                    span {
                        margin: 0 auto;

                    }
                }

                tbody {

                    tr {

                        td {
                            padding: 8px 3px;
                            text-align: center;
                            font-size: 12px;

                            &.detail {
                                font-size: 14px;
                                cursor: pointer;

                                button {
                                    background: #46465B;
                                    border: none;
                                    font-size: 0.7rem;
                                    color: #fff;
                                    border-radius: 30px;
                                    padding: 2px 12px 5px;
                                }
                            }
                        }

                        &:nth-child(even) {
                            background: rgba(217, 217, 217, 0.05);
                        }
                    }
                }
            }

            .noData {
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
            }
        }
    }

    .table-flex {
        display: flex;

        .snapshot {
            min-width: 120px;
        }

        .day-choose {
            display: flex;
            flex-direction: column;
            background-color: #46465b00;

            span {
                font-size: 12px;
                padding: 10px 30px;
                margin: 0px !important;
                border: #b8b8b81e 0.5px solid;
                transition: all 0.2s;
                cursor: pointer;

                &:hover,
                &:active {
                    background-color: #46465bda;
                }
            }
        }
    }
}